<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form Design</title>
      <link rel="stylesheet" href="static/css/style.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Admin Login
         </div>
         <form action="#">
            <div class="adminlogin-link">
                Login as User instead? <a href="/login">Login now</a>
             </div>
            <div class="field">
               <input type="text" required>
               <label>Email Address</label>
            </div>
            <div class="field">
                <input type="text" required>
                <label>AdminID</label>
             </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
         </form>
      </div>
   </body>
</html>
