<!DOCTYPE html>
 <html lang="en" dir="ltr">
    <head>
       <meta charset="utf-8">
       <title>Login Form Design</title>
       <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
    <!-- Flash message display -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
 
    <div class="wrapper">
       <div class="title">
          User Login
       </div>
       <form method="POST" action="/login">
          <div class="adminlogin-link">
             Login as Admin instead? <a href="/adminLogin">Login now</a>
          </div>
          <div class="field">
             <input type="text" name="email" required>
             <label>Email Address</label>
          </div>
          <div class="field">
             <input type="password" name="password" required>
             <label>Password</label>
          </div>
          <div class="field">
             <input type="submit" value="Login">
          </div>
          <div class="signup-link">
             Don't have an account? <a href="/signup">Signup now</a>
          </div>
       </form>
    </div>
 </body>
 
 </html>